@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	color: #2b2929;
}

.block-1 {
	background-color: green;
	padding: 5px;
	margin: 30px;
	width: 500px;
	border: 5px double red;
	outline: 5px dashed black;
	outline-offset: 10px;
	border-radius: 10px;
	box-shadow: 15px 15px 30px 20px yellowgreen;
	opacity: 0.6;
}

.inline {
	background-color: yellow;
	line-height: 3;
	margin: 10px;
	width: 700px;
	border: 10px solid purple;
	outline: 5px dotted orange;
	border-radius: 12px;
	box-shadow: inset 2px 2px 2px 2px black;
	opacity: 0.8;
}

.inline-block {
	background-color: blue;
	margin: 20px;
	padding: 15px;
	border: 5px dotted gray;
	outline-offset: 3px;
	outline: 6px solid brown;
	border-radius: 15px;
	box-shadow:
		inset 5px 5px 5px 5px black,
		0 0 5px 10px black;
}

.inline-block:hover {
	border-color: transparent;
}

.link:focus {
	outline: 2px dotted gold;
	border-radius: 10%;
}

.link {
	background-color: yellowgreen;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.first-link {
	visibility: hidden;
}

.block-11 {
	margin-bottom: 30px;
	padding: 20px;
	max-width: 1300px;
	background-image: url("../img/icon.png");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: auto auto;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
}

.arrow-bottom {
	width: 0;
	height: 0;
	border-top: 100px solid green;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
}

ul {
	margin: 50px;
}

.list_item {
	background: url("../img/icon.png") 0 0 / 15px no-repeat;
	padding-left: 20px;
	margin-bottom: 10px;
	min-height: 16px;
	font-size: 15px;
}

.section-2 {
	width: 1070px;
	margin: 0 auto;
}

.title-2 {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	margin-bottom: 38px;
	text-align: left;
}

.title-2-1 {
	font-size: 40px;
	font-style: normal;
	line-height: 48px;
	letter-spacing: 0;
	text-transform: none;
}

.image-2 {
	width: 100%;
	max-width: 1070px;
	height: auto;
	border-radius: 8px;
	margin-bottom: 40px;
	display: block;
}

.text-2 {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	margin-bottom: 38px;
	text-align: left;
}

.text-2-1,
.text-2-2 {
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 10px;
}

.sub-title-2 {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	text-align: left;
	margin-bottom: 28px;
}

.sub-title-2-1 {
	font-size: 20px;
	font-style: normal;
	line-height: 28px;
	letter-spacing: 0;
	text-transform: none;
}

.list-2 {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	text-align: left;
	margin-bottom: 38px;
}

.list-item-2 {
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 20px;
	background: url("../img/item.png") 0 0/32px 32px no-repeat;
	padding-left: 47px;
}

.text-22 {
	width: 100%;
	max-width: 1070px;
	min-height: auto;
	text-align: left;
	margin-bottom: 100px;
}

.text-22-1 {
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
}

.block-3 {
	font-family: Quicksand, sans-serif;
	background-color: #914cff;
	max-width: 1440px;
	width: 100%;
	overflow: hidden;
	max-height: 530px;
	height: auto;
	margin-bottom: 50px;
}

.section-3 {
	margin: 0 auto;
	max-width: 1280px;
}

.section-left-3,
.section-right-3 {
	display: inline-block;
	vertical-align: top;
}

.section-left-3 {
	width: 100%;
	max-width: 600px;
	height: auto;
	margin-top: 121px;
	margin-right: 133px;
}

.title-3,
.text-3-1 {
	width: 100%;
	max-width: 600px;
	min-height: auto;
	text-align: left;
	margin-bottom: 24px;
}

.title-33 {
	color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0;
	text-transform: none;
}

.text-3-11 {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0;
	text-transform: none;
}

.button-3 {
	background-color: #fff;
	width: 100%;
	max-width: 217px;
	text-align: center;
	border-radius: 8px;
	height: 48px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.button-3-1 {
	color: #0d1216;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0;
	text-transform: none;
}

.section-right-3 {
	background-image: url("../img/spot.png");
	background-position: 50% 370%;
	background-repeat: no-repeat;
	max-width: 515px;
	width: 100%;
	height: auto;
}

.block-4 {
	background:
		url("../img/branch1.png") 0 470px no-repeat,
		url("../img/branch2.png") right 170px no-repeat;
}

.block-4 {
	font-family: Roboto, sans-serif;
	background-color: lightgrey;
	max-width: 1920px;
	width: 100%;
	overflow: hidden;
	max-height: 847px;
	height: auto;
	padding-top: 75px;
}

.section-4 {
	margin: 0 auto;
	max-width: 1226px;
}

.section-left-4,
.section-right-4 {
	display: inline-block;
	vertical-align: top;
}

.section-left-4 {
	width: 100%;
	max-width: 686px;
	height: auto;
	margin-top: 99px;
	margin-right: 94px;
}

.title-4,
.text-4 {
	width: 100%;
	max-width: 686px;
	min-height: auto;
	text-align: left;
	margin-bottom: 59px;
}

.title-4-1 {
	color: #000;
	font-size: 74px;
	font-style: normal;
	font-weight: 300;
	line-height: 55px;
	letter-spacing: 0;
	text-transform: none;
}

.text-4-1 {
	color: #000;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 0;
	text-transform: capitalize;
}

.button-4 {
	background-color: #1e2832;
	width: 100%;
	max-width: 223px;
	text-align: center;
	height: 72px;
	padding-top: 18px;
}

.image-4,
.button-4-1 {
	display: inline-block;
}

.image-4 {
	margin-right: 8px;
	margin-top: 5px;
}

.button-4-1 {
	color: #fff;
	font-size: 29px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0;
	text-transform: capitalize;
}