@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("reset.css");

.block-11 {
	background-color: rgba(0, 102, 255, 0.2);
	margin: 20px;
	padding: 10px;
	max-width: 1050px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	border: 5px double green;
	outline-offset: 5px;
	outline: 5px dashed yellow;
	border-radius: 10px 5px 10px 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
	visibility: visible;
}

.inline-11 {
	background-color: rgba(255, 192, 234, 0.281);
	margin: 20px;
	padding: 5px;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	line-height: 50px;
	border: 5px double;
	outline: 5px dashed yellow;
	border-radius: 20px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
	opacity: 0.5;
}

.inline-block-11 {
	background-color: rgba(117, 215, 10, 0.205);
	margin: 20px 20px 50px 20px;
	padding: 10px;
	border: 5px double green;
	outline-offset: 5px;
	outline: 5px dashed yellow;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.inline-block-11:hover {
	border: 5px double transparent;
}

.block-12 {
	background-color: rgba(0, 102, 255, 0.2);
	margin: 20px;
	padding: 10px;
	max-width: 1050px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	background-image: url("../img/icon.png");
	background-repeat: no-repeat;
	background-position: 33% 33%;
	background-attachment: scroll;
	background-size: contain;
}

.inline-12 {
	background-color: rgba(255, 192, 234, 0.281);
	margin: 20px;
	padding: 5px;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	line-height: 50px;
	background-image: url("../img/icon.png");
}

.inline-block-12 {
	margin: 20px;
	padding: 30px;
	background: rgba(117, 215, 10, 0.205) url("../img/icon.png") left no-repeat;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
	margin-bottom: 10px;
}

.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid green;
	margin-bottom: 10px;
}

.list_item-11 {
	background: url("../img/icon.png") 0 0/15px no-repeat;
	padding-left: 20px;
	margin-bottom: 10px;
	min-height: 14px;
	font-size: 10px;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	font-size: 15px;
}

.ulli {
	margin-bottom: 30px;
}

.block-2 {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
	color: #2b2929;
	font-style: normal;
	text-align: left;
}

.title-2-1 {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0;
	margin-bottom: 40px;
}

.inline-block-2 {
	border-radius: 8px 8px 8px 8px;
	margin-bottom: 40px;
}

.text-2-1 {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0;
	margin-bottom: 40px;
}

p {
	margin-bottom: 10px;
}

.title-2-2 {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0;
	margin-bottom: 30px;
}

.list_item-2 {
	background: url("../img/item.png") 0 0/32px no-repeat;
	padding-left: 47px;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
}

.list-2 {
	margin-bottom: 40px;
}

.text-2-2 {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0;
	margin-bottom: 40px;
}

.block-3 {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #914cff;
	margin-bottom: 50px;
	font-size: 0px;
}

.section-3-1,
.section-3-2 {
	display: inline-block;
	width: 100%;
	max-width: 720px;
	vertical-align: middle;
}

.section-3-1 {
	padding: 0px 40px 0px 80px;
	font-family: "Quicksand", sans-serif;
}

.title-3 {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0;
	margin-bottom: 24px;
}

.text-3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0;
	margin-bottom: 24px;
}

.botton-3 {
	padding: 12px 20px;
	border-radius: 8px 8px 8px 8px;
	background-color: #fff;
}

.text-3-2 {
	color: #0d1216;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0;
	text-align: center;
}

.section-3-2 {
	padding-left: 75px;
}

.item-3-2 {
	width: 547px;
	height: 530px;
	background: url("../img/kidillustration.png") center no-repeat,
			url("../img/spot.png") 0px 68px no-repeat;
}

.block-4 {
	width: 100%;
	max-width: 1920px;
	height: 100%;
	max-height: 847px;
	margin: 0 auto;
	overflow: hidden;
	background: 
		url("../img/branch1.png") left 97% no-repeat,
		url("../img/branch2.png") right 70% no-repeat,
		rgba(30, 40, 50, 0.05);
	margin-bottom: 50px;
	font-size: 0px;
}

.section-4-1,
.section-4-2 {
	display: inline-block;
	vertical-align: middle;
}

.section-4-1 {
	font-family: "Roboto", sans-serif;
	width: 100%;
	max-width: 986px;
	padding-left: 300px;
	padding-top: 300px;
}

.title-4 {
	color: black;
	font-weight: 300;
	font-size: 74px;
	line-height: 55px;
	letter-spacing: 0;
	text-transform: capitalize;
	margin-bottom: 52px;
}

.text-4 {
	color: black;
	font-weight: 400;
	font-size: 30px;
	line-height: 55px;
	letter-spacing: 0;
	text-transform: capitalize;
	margin-bottom: 66px;
}

.botton-4 {
	padding: 19px 26px 19px 58px;
	background: url(../img/iconbag.png) 26px center / 24px no-repeat;
	background-color: rgba(30, 40, 50, 1);
}

.text-4-2 {
	color: white;
	font-weight: 300;
	font-size: 29px;
	line-height: 100%;
	min-height: 24px;
	letter-spacing: 0;
	text-align: center;
	text-transform: capitalize;
}

.section-4-2 {
	width: 100%;
	max-width: 424px;
	max-height: 542px;
	margin-left: 10px;
	margin-top: 200px;
	margin-bottom: 85px;
	border-top-left-radius: 160px;
	border-bottom-right-radius: 160px;	
	box-shadow: 18px 20px rgba(0, 0, 0, 0.25);
}
