@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
}

.block {
	background-color: #77608d;
	padding: 2% 4%;
	margin-top: -5px;
	margin-bottom: 10px;
	width: 50%;
	height: 70px;
	overflow: auto;
}

.inline {
	background-color: #7a956b;
	padding: 15px;
	margin: 40px;
	display: block;
}

.inline-block {
	background-color: #794f45;
	padding: 2%;
	margin: 60px 0px;
	min-width: 400px;
	height: 300px;
	box-sizing: border-box;
	vertical-align: middle;
}

.block-2 {
	max-width: 1920px;
	height: 754px;
	background-color: #1e2832;
	padding: 100px 0px;
	margin-bottom: 100px;
	overflow: hidden;
}

.section {
	max-height: 319px;
	max-width: 1320px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.title {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	color: #000;
	font-size: 50px;
	text-transform: none;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0;
	max-height: 59px;
	margin-bottom: 60px;
}

.items {
	margin: 0px -12px;
	font-size: 0;
}

.item {
	max-width: 200px;
	height: auto;
	max-height: 200px;
	width: 16.66667%;
	display: inline-block;
	padding: 0px 12px;
	box-sizing: content-box;
	margin-bottom: 24px;
}

.article {
	margin: 0 auto 100px;
	max-width: 1070px;
	overflow: hidden;
}

.sub-title {
	width: 100%;
	max-width: 1070px;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: left;
	min-height: auto;
}

.sub-title-1 {
	font-weight: 600;
	color: #2b2929;
	font-size: 40px;
	font-style: normal;
	margin-top: 0;
	text-align: left;
	line-height: 48px;
	margin-bottom: 0;
	letter-spacing: 0;
	text-transform: none;
}

.image {
	max-width: 1070px;
	width: 100%;
	height: auto;
	margin: 0px 0px 40px 0px;
}

.text {
	width: 100%;
	max-width: 1070px;
	margin-top: 0;
	margin-bottom: 36px;
	min-height: auto;
	text-align: left;
}

.text p {
	font-weight: 400;
	color: #2b2929;
	font-size: 16px;
	font-style: normal;
	margin-top: 0;
	line-height: 30px;
	margin-bottom: 10px;
	letter-spacing: 0;
	text-transform: none;
}

.text-2 {
	width: 100%;
	max-width: 1070px;
	margin-top: 0;
	margin-bottom: 33px;
	min-height: auto;
	text-align: left;
}

.sub-title-2 {
	font-weight: 600;
	color: #2b2929;
	font-size: 20px;
	font-style: normal;
	margin-top: 0;
	line-height: 28px;
	margin-bottom: 10px;
	letter-spacing: 0;
	text-transform: none;
}

.items-3 {
	margin: 0 auto 32px;
	text-align: left;
	width: 100%;
	max-width: 1023px;
	min-height: auto;
}

.item-3 {
	font-weight: 400;
	color: #2b2929;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 5px;
}

.text-3 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
	max-width: 1070px;
	min-height: auto;
}

.text-3 p {
	font-weight: 400;
	color: #2b2929;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 5px;
}

.article-4 {
	width: 1290px;
	margin: 0 auto;
	overflow: hidden;
}

.text-4 {
	width: 100%;
	min-height: auto;
	margin-bottom: 40px;
}

.sub-title-4 {
	font-weight: 400;
	color: #2b2929;
	font-size: 40px;
	font-style: normal;
	line-height: 48px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 5px;
	text-align: center;
}

.section-4 {
	font-size: 0px;
	margin-left: -15px;
	margin-right: -15px;
}

.item-4 {
	display: inline-block;
	width: 25%;
	padding: 0px 15px;
	box-sizing: border-box;
	text-align: center;
	height: auto;
}

.image-4 {
	width: auto;
	max-width: 170px;
	height: auto;
	margin-bottom: 200px;
	display: inline-block;
	text-align: center;
}